<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpinspector.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".Images.EidOrPassport"
            android:exported="true" />
        <activity
            android:name=".Images.TitleDeedImage"
            android:exported="true" />
        <activity
            android:name=".HomeSection.BasicDetails1Activity"
            android:exported="true" />
        <activity android:name=".HomeSection.ProfileActivity" />
        <activity android:name=".HomeSection.BasicDetails3_Save_Activity" />
        <activity android:name=".HomeSection.BasicDetails3Activity" />
        <activity android:name=".HomeSection.CompleteInspectionActivity" />
        <activity android:name=".HomeSection.DeclarationActivity" />
        <activity android:name=".HomeSection.PendingInspectionActivity" />
        <activity android:name=".HomeSection.BasicDetails_1_SaveActivity" />
        <activity android:name=".HomeSection.BasicDetails_2_SaveActivity" />
        <activity android:name=".HomeSection.BasicDetails2Activity" />
        <activity android:name=".HomeSection.DashboardActivity" />
        <activity android:name=".LoginSection.LoginActivity" />
        <activity android:name=".LoginSection.ResetPasswordActivity" />
        <activity android:name=".LoginSection.ForgotPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>